.container.homepage-container
  .section.vertical-center
    .row.center
      %p.flow-text
        Since this is a completely free software, i still don't know if i'll be able to keep the project up by my own (Worst case scenario you can always download it and host  it yourself!). If you want to support my work or simply want to keep posted on development updates, check my ko-fi page!
    %script{:src => "https://storage.ko-fi.com/cdn/widget/Widget_2.js", :type => "text/javascript"}
    .row.center
      :javascript
        kofiwidget2.init('Support Me on Ko-fi', '#f48fb1', 'I2I85IRUJ');kofiwidget2.draw();