.section
  .row.center
    .col.s12
      %h1.header
        Bragger
    .col.s12
      %h4.light
        Track your language acquisition journey to the second!
  .row.center
    .btn-large.waves-effect.waves-light.pink.lighten-3
      Get started
    &nbsp
    .btn-large.waves-effect.waves-light.pink.lighten-3
      Github
%br
.section
  .row.center
    .col.s12.m4
      .center.full-width
        %i.material-icons backup
        %p.promo-caption Everything in sync
        %p.light.center
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .col.s12.m4
      .center.full-width
        %i.material-icons show_chart
        %p.promo-caption Track your progress
        %p.light.center
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .col.s12.m4
      .center.full-width
        %i.material-icons attach_money
        %p.promo-caption Absolutely free!
        %p.light.center
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

%br
.section
  %footer.page-footer.white
    .container
      .row
        .col.l6.s12
          %h7.black-text Support
          %p.grey-text.light mail@mail.com
        .col.l4.offset-l2.s12
          %h7.black-text Useful links
          %ul
            %li
              %a.grey-text.light{:href => "#!"} Link 1
            %li
              %a.grey-text.light{:href => "#!"} Link 2
            %li
              %a.grey-text.light{:href => "#!"} Link 3
            %li
              %a.grey-text.light{:href => "#!"} Link 4
