.container.homepage-container
  .section.vertical-center
    .row.center
      .col.s12
        %h1.header
          Lingotail
      .col.s12
        %p.flow-text
          Track your language acquisition journey to the second!
    .row.center
      = link_to "/users/sign_in", class: "white-text" do
        .btn-large.waves-effect.waves-light.pink.lighten-3
          Get started
      &nbsp
      = link_to "https://github.com/itsmaia/lingotail", target: "_blank", class: "white-text" do
        .btn-large.waves-effect.waves-light.pink.lighten-3
          Github
