.row
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
