.row
  .col.s3
    .card
      .card-stacked
        .card-metric
          Active Immersion
      .card-chart 
        = area_chart(current_user.immersion_subentries.active.group_by_day(:entry_date).sum(:duration), height: "120px", points: false, colors: ["#9fa8da"])
  .col.s3
    .card
      .card-stacked
        .card-metric
          Passive Immersion
      .card-chart 
        = area_chart(current_user.immersion_subentries.passive.group_by_day(:entry_date).sum(:duration), height: "120px", points: false, colors: ["#ff8a65"])
  .col.s3
    .card
      .card-stacked
        .card-metric
          Anki
      .card-chart 
        = area_chart(current_user.anki_subentries.group_by_day(:entry_date).sum(:duration), height: "120px", points: false, colors: ["#e6ee9c"])
  .col.s3
    .card
      .card-stacked
        .card-metric
          Reading
      .card-chart 
        = area_chart(current_user.reading_subentries.group_by_day(:entry_date).sum(:duration), height: "120px", points: false, colors: ["#f48fb1"])
