.row
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart(ImmersionSubentry.group_by_day(:entry_date).sum(:duration).map {|k, v| v/60/60}, height: "120px", points: false, discrete: true)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
  .col.s3
    .card
      .card-stacked
        .card-metric
          content
      .card-chart 
        = area_chart([[1,22], [2,23], [3,40], [5,80], [7,100]], height: "120px", points: false)
